export KEY_COUNTRY="{{ openvpn_key_country }}"
export KEY_PROVINCE="{{ openvpn_key_city }}"
export KEY_CITY="{{ openvpn_key_city }}"
export KEY_ORG="{{ openvpn_key_org }}"
export KEY_EMAIL="{{ openvpn_email }}"
export KEY_OU="{{ openvpn_key_ou }}"